<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CallDBServlet</servlet-name>
        <servlet-class>DAO.CallDBServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GravarAlunoServlet</servlet-name>
        <servlet-class>servlets.GravarAlunoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirAlunoServlet</servlet-name>
        <servlet-class>servlets.ExcluirAlunoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarAlunosServlet</servlet-name>
        <servlet-class>servlets.ListarAlunosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarAlunoServlet</servlet-name>
        <servlet-class>servlets.EditarAlunoServlet</servlet-class>
    </servlet>
   
    <servlet-mapping>
        <servlet-name>CallDBServlet</servlet-name>
        <url-pattern>/CallDBServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GravarAlunoServlet</servlet-name>
        <url-pattern>/GravarAlunoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirAlunoServlet</servlet-name>
        <url-pattern>/ExcluirAlunoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarAlunoServlet</servlet-name>
        <url-pattern>/EditarAlunoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarAlunosServlet</servlet-name>
        <url-pattern>/ListarAlunosServlet</url-pattern>
    </servlet-mapping>
   
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
